.col{
text-align:center;
}
.col-md-4{
max-width:32%;
height:120px;
border-radius:5px;
text-align:center;
}
.col-md-6{
max-width:47%;
height:120px;
text-align:center;
color:black;
}
.col-md-12{
max-width:97%;
height:170px;
}


